:root {
    --d-blue-100: #609ED4;
    --d-blue-200: #356EA9;
    --d-blue-300: #0A3871;
    --d-blue-400: #072B61;
    --d-blue-500: #052051;

    --l-blue-100: #F3F5FC;
    --l-blue-200: #EFF1FA;
    --l-blue-300: #E9ECF8;
    --l-blue-400: #AAB2D5;
    --l-blue-500: #757FB2;

    --gray-100: #CED4DA;
    --gray-200: #ADB5BD;
    --gray-300: #868E96;
    --gray-400: #495057;
    --gray-500: #343A40;
}


body {
    background-color: var(--l-blue-200);
    font-family: 'Inter', sans-serif;
}

header {
    margin-left: 2em;
}

main {
    display: flex;
    justify-content: space-around;
    gap: 40px;
}

.sec-input {
    width: 50%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sec-input textarea {
    max-width: 700px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 1.1em;
    line-height: 1.6em;
    color: var(--d-blue-300);
    background-color: transparent;
    border: none;
    outline: none;
    resize: none;
}

.sec-input textarea::placeholder {
    color: var(--d-blue-300);
}

.btn-contenedor p {
    font-size: 0.6em;
}

.btn-contenedor img {
    width: 1em;
    height: auto;
}

.btn {
    margin: 0 2em 0 0;
    padding: 1.2em 6.5em;
    border-radius: 0.9rem;
    font-size: 0.8em;
}

.btn-dark {
    color: #fff;
    background-color: var(--d-blue-300);
    border: 2px solid var(--d-blue-300);
    transition: all 0.8s;
}

.btn-dark:hover {
    opacity: 0.8;
}

.btn-ligth {
    color: var(--d-blue-300);
    background-color: transparent;
    border: 2px solid var(--d-blue-300);
    transition: all 0.8s;
}

.btn-ligth:hover {
    color: #fff;
    background-color: var(--d-blue-300);
    opacity: 0.8;
}



.sec-respuesta {
    background-color: #fff;
    padding: 7em 3em;
    margin: 0 auto;
    border-radius: 32px;
    text-align: center;
    max-width: 300px;
    margin-top: -70px;
    box-shadow: 0px 12px 72px -14px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 0px 12px 72px -14px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 0px 12px 72px -14px rgba(0, 0, 0, 0.28);
}

.sec-respuesta .img-muneco {
    width: 90%;
}


.sec-respuesta h2 {
    line-height: 30px;
}

.sec-respuesta>p {
    font-size: 0.8em;
    line-height: 18px;
}


.btn-copiar {
    display: none;
}


footer {
    padding-top: 3em;
    text-align: center;
    color: var(--gray-300);
    font-size: 0.6em;
}